<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <title>update-from-events</title>
  <style>
    #app {
      margin: 1em;
      font-size: 1.5em;
    }
  </style>
</head>

<body>

  <div id="app">
    <p>
      Parent: {{ message }} <input v-model="message">
    </p>
    <hr>

    <p>
      <!-- 第一種方法:子元件用$emit 父元件用$on綁定同樣的方法去更新資料-->
      Child1($emit by mount):
      <mount-component :parent-message="message"></mount-component>
    </p>
    <p>
      <!-- 第二種方法:直接把父元件方法傳給子元件 -->
      Child2($emit by passing methods):
      <methods-component :parent-message="message" @parent-update="selfUpdate"></methods-component>
    </p>
    <p>
      <!-- 第三種方法: 類似第一種方法 但是透過另一個vue實體來監聽更新所有綁定方法的事件-->
      Child3(Evene Bus):
      <event-bus-component :parent-message="message"></event-bus-component>
    </p>
  </div>


  <script>
    //第一種方法:子元件用$emit 父元件用$on綁定同樣的方法去更新資料
    Vue.component('mount-component', {
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText() {
          this.$parent.$emit('update', this.message);
        }
      }
    });
    //第二種方法:直接把父元件方法傳給子元件
    var MethodsComponent = Vue.extend({
        template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
        props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          this.$emit('parent-update', this.message);
          e.preventDefault();
        }
      }
    });

    //第三種eventBus(最容易)
    var bus = new Vue();

    var EventBusComponent = Vue.extend({
        template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
        props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          bus.$emit('receive', this.message);
        }
      }
    });


    new Vue({
      el: '#app',
      components:{
        MethodsComponent,
        EventBusComponent,
      },
      data: {
        message: 'hello'
      },
      methods: {
        selfUpdate(val) {
          this.message = val;
        }
      },
      //第一種方法:父元件要先$on綁定方法
      mounted() {
        this.$on('update', this.selfUpdate);
      },
      //第三種event bus 類似第一種方法 但是透過另一個vue實體來監聽更新所有綁定方法的事件
      created() {
        var that = this;
        bus.$on('receive', function(newMsg) {
          that.message = newMsg;
        });
      }
    });
  </script>

</body>

</html>