<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <title>update-from-events</title>
  <style>
    #app {
      margin: 1em;
      font-size: 1.5em;
    }
  </style>
</head>

<body>

  <div id="app">
    <p>
      Parent: {{ message }} <input v-model="message">
    </p>
    <hr>

    <p>
      <!-- 第一種方法:子元件用$emit 父元件用$on綁定同樣的方法去更新資料-->
      Child1($emit by mount):
      <mount-component :parent-message="message"></mount-component>
    </p>
    <p>
      <!-- 第二種方法:直接把父元件方法傳給子元件 -->
      <!-- 透過v-on綁定父元件事件 -->
      Child2($emit by passing parent methods):
      <methods-component :parent-message="message" @update="selfUpdate"></methods-component>
    </p>
    <p>
      <!-- 第三種方法: 類似第一種方法 但是透過另一個vue實體來監聽更新所有綁定方法的事件-->
      Child3(Evene Bus):
      <event-bus-component :parent-message="message"></event-bus-component>
    </p>
    <p>
      <!-- 第四種方法: 2.3之後提供的sync方法 是第二種的語法糖-->
      <!-- 將原本要用@parent-update="selfUpdate"傳入父元件的update事件-->
      <!-- 直接用sync修飾詞去更新對象prop child則使用update:{你bind的propName}去做$emit事件監聽-->
      <!-- 真正的code為 <sync-component :parent-message="message" @update:parent-message='message'></sync-component>-->
      Child4(sync):
       <!-- 為了避免混淆v-bind:{propName}改為childmsg-->
      <sync-component v-bind:parent-message.sync="message"></sync-component>
    </p>
  </div>


  <script>
    //第一種方法:子元件用$emit 父元件用$on綁定同樣的方法去更新資料
    Vue.component('mount-component', {
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText() {
          //第一種方法必須個別在父/子元件都$on/$emit才能做到two way binding
          this.$parent.$emit('update', this.message);
        }
      }
    });
    //第二種方法:直接把父元件方法傳給子元件
    var MethodsComponent = Vue.extend({
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          //注意: 這裡$emit雖然可以使用camelCase和kebab-case，但是由於dom的命名上是使用kebab-case且不會轉換回camelCase
          //而事件綁定必須精確命名，因此在事件的命名上推薦kebab-case，以避免名稱轉換上混淆的問題
          this.$emit('update', this.message);
          e.preventDefault();
        }
      }
    });

    //第三種eventBus(最容易)
    var bus = new Vue();

    var EventBusComponent = Vue.extend({
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          bus.$emit('receive', this.message);
        }
      }
    });

    //第四種 sync 為第二種的語法糖
    var SyncComponent = Vue.extend({
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          //sync修飾詞可以把{propName}.sync轉成update:{propName}
          this.$emit('update:parentMessage', this.message);
          e.preventDefault();
        }
      }
    });


    new Vue({
      el: '#app',
      components: {
        MethodsComponent,
        EventBusComponent,
        SyncComponent
      },
      data: {
        message: 'hello',
      },
      methods: {
        //第二種方法:父元件方法
        selfUpdate(val) {
          this.message = val;
        }
      },
      //第一種方法:父元件要先$on綁定方法
      mounted() {
        this.$on('update', this.selfUpdate);
      },
      //第三種event bus 類似第一種方法 但是透過另一個vue實體來監聽更新所有綁定方法的事件
      created() {
        var that = this;
        bus.$on('receive', function (newMsg) {
          that.message = newMsg;
        });
      }
    });
  </script>

</body>

</html>