<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <title>update-from-events</title>
  <style>
    #app {
      margin: 1em;
      font-size: 1.5em;
    }
  </style>
</head>

<body>

  <div id="app">
    <p>
      Parent: {{ message }} <input v-model="message">
    </p>
    <hr>

    <p>
      第一種方法:子元件用$emit 父元件用$on綁定同樣的方法去更新資料<br>
      :parent-message="message"=>v-bind:parent-message="message"<br>
      其中parent-message是子元件內層所引用的prop(遵循Camel Case)<br>
      message則是外層父元件所用的data<br>
      在這個方法下父元件需要再method綁定監聽方法ex:this.$on('first-update-parent', this.selfUpdate);<br>
      子元件則要用$emit this.$parent.$emit('first-update-parent', this.message);<br>
      才能實現雙向綁定(注意綁定事件要採用kebab-case才不會混淆)<br>
      Child1($emit by mount):<br>
      <mount-component :parent-message="message"></mount-component>
    </p>
    <p>
      第二種方法:直接把父元件方法傳給子元件<br>
      透過v-on綁定父元件事件如同樣綁定method selfUpdate<br>
	    內部(子)元件需透過$emit通知外部(父)元件的方法去更新<br>
	    綁定方法 @{要$emit的內部(子)元件事件名稱}="{外部(父)元件方法名稱}"<br>
      Child2($emit by passing parent methods):<br>
      <methods-component :parent-message="message" @second-update-parent="selfUpdate"></methods-component>
    </p>
    <p>
      第三種方法: 類似第一種方法 但是透過另一個vue實體來監聽更新所有綁定方法的事件<br>
      在這種方法下 只需要父元件data傳入子元件prop(:parent-message="message")<br>
      子元件對父元件資料的更新則透過第三方的vue去更新<br>
      ex:<br>
      bus = new vue();<br>
      bus.$emit('third-update-parent', this.message);<br>
      Child3(Evene Bus):<br>
      <event-bus-component :parent-message="message"></event-bus-component>
    </p>
    <p>
      第四種方法: 2.3之後提供的sync方法 是第二種的語法糖v-bind:fourth-parent-message.sync="message"<br>
      將原本要用@second-update-parent="selfUpdate"傳入父元件的update事件<br>
      直接用sync修飾詞去更新對象prop child則使用update:{你bind的propName}去做$emit事件監聽<br>
      真正的code為 :fourth-parent-message='message' @update:fourth-parent-message='message = $event'<br>
      (vue 3.0之後已經捨棄此寫法)<br>
	  <!-- or <sync-component :fourth-parent-message="message" @update:fourth-parent-message='val => message = val'></sync-component>-->
      Child4(sync):
      <sync-component v-bind:fourth-parent-message.sync="message"></sync-component>
    </p>
  </div>


  <script>
    //第一種方法:子元件用$emit 父元件用$on綁定同樣的方法去更新資料
    Vue.component('mount-component', {
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText() {
          //第一種方法必須個別在父/子元件都$on/$emit才能做到two way binding
          this.$parent.$emit('first-update-parent', this.message);
        }
      }
    });
    //第二種方法:直接把父元件方法傳給子元件
    var MethodsComponent = Vue.extend({
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          //注意: 這裡$emit雖然可以使用camelCase和kebab-case，但是由於dom的命名上是使用kebab-case且不會轉換回camelCase
          //而事件綁定必須精確命名，因此在事件的命名上推薦kebab-case，以避免名稱轉換上混淆的問題
          this.$emit('second-update-parent', this.message);
          e.preventDefault();
        }
      }
    });

    //第三種eventBus(最容易)
    var bus = new Vue();

    var EventBusComponent = Vue.extend({
      template: '<span>\
                    {{ parentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        parentMessage: String
      },
      data() {
        return {
          message: this.parentMessage
        }
      },
      methods: {
        updateText(e) {
          bus.$emit('third-update-parent', this.message);
        }
      }
    });

    //第四種 sync 為第二種的語法糖
    var SyncComponent = Vue.extend({
      template: '<span>\
                    {{ fourthParentMessage }}\
                    <input v-model="message">\
                    <button @click="updateText">Update</button>\
                  </span>',
      props: {
        fourthParentMessage: String
      },
      data() {
        return {
          message: this.fourthParentMessage
        }
      },
      methods: {
        updateText(e) {
          //sync修飾詞可以把{propName}.sync轉成update:{propName}
		  //這裡要注意名稱的格式
          this.$emit('update:fourthParentMessage', this.message);
          e.preventDefault();
        }
      }
    });


    new Vue({
      el: '#app',
      components: {
        MethodsComponent,
        EventBusComponent,
        SyncComponent
      },
      data: {
        message: 'hello',
      },
      methods: {
        //第二種方法:父元件方法
        selfUpdate(val) {
          this.message = val;
        }
      },
      //第一種方法:父元件要先$on綁定方法
      mounted() {
        this.$on('first-update-parent', this.selfUpdate);
      },
      //第三種event bus 類似第一種方法 但是透過另一個vue實體來監聽更新所有綁定方法的事件
      created() {
        var that = this;
        bus.$on('third-update-parent', function (newMsg) {
          that.message = newMsg;
        });
      }
    });
  </script>

</body>

</html>